.speech{
    font-family:Arial ;
    font-size:14px;
    color:black;
}
.stage-direction{
    font-family:Arial ;
    font-size:15px;
    color: black;
    background-color: lightblue;
}
.stage-direction:hover{
    color: orange;
    background-color: yellow;
}
.name{
font-size: 20px;
background-color:black;
}

.LADYWINDERMERE{
    color:brown;
}
.LADYWINDERMERE:hover{
    color:black;
    filter: blur(1px);
    text-shadow: 8px 8px;
}
.ROSALIE:hover{
    color:black;
    filter: blur(1px);
    text-shadow: 8px 8px;
}
.ROSALIE{
    color:blue;
}
.LORDWINDERMERE:hover{
    color:black;
    filter: blur(1px);
    text-shadow: 8px 8px;
}
.LORDWINDERMERE{
    color:blueviolet;
}
.table{
   border: 3px;
   border-style: solid;
   color: black;
   text-align: center;
   margin: 5px;
   padding-left: 10px;
   
}
table{
    border-collapse: collapse;
}
table td,th{
    border-left: 1.5px solid black;
    border-right: 1.5px solid black;
    border: 1px solid black
}
tr:nth-child(even){
background-color:lightgray;
color:black;
}
ul.navbar-horizontal {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
ul.navbar-horizontal li
{ 
   float:left; 
   color:#000;
   background-color:yellow
}
ul.navbar-horizontal a {
   display:block;
   padding:8px
}
ul.navbar-horizontal a:hover { 
   background-color: #555;
   color:red;
}
